<div class="top-panel clearfix">
    <div class="menu-toggle only-mobile">
        |||
    </div>
    <ul class="info-menu unstyle list-inline hide-on-mobile">
        <li class="info-menu__item"><a class="info-menu__link" href="">Store locatior</a></li>
        <li class="info-menu__item"><a class="info-menu__link" href="">How can we help?</a></li>
        <li class="info-menu__item"><a class="info-menu__link" href="">Shipping to USA - $</a></li>
    </ul>
    <ul class="reg-menu unstyle list-inline hide-on-mobile">
        <li class="reg-menu__item"><a class="reg-menu__link" href="">Sing up</a></li>
        <li class="reg-menu__item"><a class="reg-menu__link" href="">My account</a></li>
        <li id="my-bag" class="reg-menu__item"><a class="reg-menu__link" href="">My bag</a></li>
    </ul>
    <div class="logo marg-auto">
        <img src="img/logo.svg" alt="MDN">
    </div>
</div>
<div id="header-menu-wide" class="header-menu hide-on-mobile"></div>

<div id="menuToggle" class="menu only-mobile"></div>

<script type="text/template" id="list-template-menu">
    <ul class="header-menu__list unstyle">
        <% _(items).forEach(function(item) { %>
            <li class="header-menu__item">
                <a class="header-menu__link" href="">
                    <%= item %>
                </a>
            </li>
            <% }); %>
    </ul>
</script>
