<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GIORGIO ARMANI</title>
    <link rel="stylesheet" href="css/styles.css">
    
    <script>
        document.createElement( 'picture' );
    </script>

    <script src="js/lib/picturefill.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="top-panel clearfix">
            <div class="menu-toggle only-mobile">
                |||
            </div>

            <ul class="info-menu unstyle list-inline hide-on-mobile">
                <li class="info-menu__item"><a class="info-menu__link" href="">Store locatior</a></li>
                <li class="info-menu__item"><a class="info-menu__link" href="">How can we help?</a></li>
                <li class="info-menu__item"><a class="info-menu__link" href="">Shipping to USA - $</a></li>
            </ul>

            <ul class="reg-menu unstyle list-inline hide-on-mobile">
                <li class="reg-menu__item"><a class="reg-menu__link" href="">Sing up</a></li>
                <li class="reg-menu__item"><a class="reg-menu__link" href="">My account</a></li>
                <li id="my-bag" class="reg-menu__item"><a class="reg-menu__link" href="">My bag</a></li>
            </ul>

            <div class="logo marg-auto">
                <img srcset="img/svg/logo.svg" alt="MDN">
            </div>
                    
        </div>
        <!-- .top-panel -->

        <div id="header-menu-wide" class="header-menu hide-on-mobile"></div>

        <div id="menuToggle" class="menu only-mobile"></div>

    <script type="text/template" id="list-template-menu">

        <ul class="header-menu__list unstyle">
        <% _(items).forEach(function(item) { %>
            <li class="header-menu__item"><a class="header-menu__link" href=""><%= item %></a></li>
        <% }); %>
        </ul>
    </script>
    

    </div>
    <!-- .header -->


    <div id="img-grid" class="home-banner js-home-banner">

        <div class="home-banner-item home-banner-item_0">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="img/desktop/banner_top.jpg" media="(min-width: 320px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="img/mobile/banner_top.jpg" alt="MDN">
            </picture>
        </div>

        <div class="row-1">
            <div class="home-banner-item home-banner-item_1">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/desktop/tile_1.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/mobile/tile_1.jpg" alt="MDN">
                </picture>
            </div>

            <div class="home-banner-item home-banner-item_2">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/desktop/blue.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/mobile/blue.jpg" alt="MDN">
                </picture>
            </div>
        </div>

        <div class="home-banner-item home-banner-item_3">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="img/desktop/tile_2.jpg" media="(min-width: 320px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="img/mobile/tile_2.jpg" alt="MDN">
            </picture>
        </div>

        <div class="home-banner-item home-banner-item_4">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="img/desktop/black.jpg" media="(min-width: 320px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="img/mobile/black.jpg" alt="MDN">
            </picture>
        </div>

        <div class="row-2">      
            <div class="home-banner-item home-banner-item_5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/desktop/gray.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/mobile/gray.jpg" alt="MDN">
                </picture>
            </div>

            <div class="home-banner-item home-banner-item_6">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/desktop/red.jpg" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/mobile/red.jpg" alt="MDN">
                </picture>
            </div>
        </div>

        <div class="home-banner-item home-banner-item_7">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="img/desktop/banner_bottom.jpg" media="(min-width: 320px)">
                <!--[if IE 9]></video><![endif]-->
                <img srcset="img/mobile/banner_bottom.jpg" alt="MDN">
            </picture>
        </div>
    </div>

    <div class="footer">
        <div class="footer__streak hide-on-mobile">
            <p>Discover the complete world of armani on <a href="" class="link-on-main-res">Armani.com</a></p>
        </div>

        <div class="conditions">
            <div class="conditions__block delivery">
                <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite.svg#pack_icon" />
                </svg>                    
                <h4>Free delivery and returns</h4>
                <p class="hide-on-mobile">Over $60, and returns within 30 days</p>
            </div>
            <div class="conditions__block samples">
                <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite.svg#products_icon" />
                </svg>              
                <h4>Free samples</h4>
                <p class="hide-on-mobile">Over $60, and returns within 30 days</p>
            </div>
            <div class="conditions__block payment">
                <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite.svg#lock_icon" />
                </svg>              
                <h4>Secured payment</h4>
                <p class="hide-on-mobile">Over $60, and returns within 30 days<br>fgdf gdfg gdfg fdgd</p>
            </div>
            <div class="conditions__block contact">
                <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite.svg#phone_icon" />
                </svg>              
                <h4>Contact us anytime</h4>
                <p class="hide-on-mobile">Over $60, and returns within 30 days</p>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.0.0.min.js"
          integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
    <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="js/lib/flexibility1.0.6.js"></script>

    <script src="js/scripts.js"></script>

</body>
</html>