<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
   

    <style>
        body {
            margin: 40px;
        }
    </style>
</head>
<body>

<div id="sale" class="block">
<!-- <h3><b>Rasprodaja</b></h3> -->
  
</div>
<div id="promo" class="block"></div>
<div id="recommended"></div>


<!-- Шаблон lodash -->
<!-- <script type="text/template" id="list-template">
    
        <div class="row">
        <% products.forEach(function(product) { %>
            <div class="col-sm-6 col-md-4"> 
                <div class="pic"><img src="media/products/<%= product.pic %>"></div>
                <h4><% product.name %></h4>
                <p><% product.price %></p> 
            </div>
        <% } %>
        </div>  
</script> -->

<script type="text/template" id="list-template">
<ul>
  <% for (var i=1; i<=count; i++) { %>
  <li><%= i %></li>
  <% } %>
</ul>
<% _(products).forEach(function(product) { %>
<p> <%= product.name %></p>
<% }); %>
</script>



<script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="script.js"></script>

<script>
  var tmpl = _.template($('#list-template').html() );

  var pro = [ {
    "name": "Несмываемый эликсир So Long Damage Break Fix",
    "pic": "Total_Results_So_Long_Damage_Break_Fix_TR-SLD-BF_2.jpg",
    "price": 220,
    "type": "sale"
  },
  {
    "name": "Термозащитный спрей Heat Buffer",
    "pic": "StyleLink_Prep_HeatBuffer_SL-HBU.png",
    "price": 360,
    "type": "recommended"
  },
  {
    "name": "Разглаживающий крем Smooth Setter",
    "pic": "StyleLink_Prep_SmoothSetter_SL-SSE.png",
    "price": 293,
    "type": "recommended"
  }];

  $('#sale').html( tmpl({count: 8, products: pro}) );

</script>
</body>
</html>