@tablet: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
// @tablet-mini: ~"only screen and (max-width: 767px)";
@mobile: ~"only screen and (max-width: 767px)";

@gray: #d6d6d6;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: #000;
    font-size: 14px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
    height: 0;
}

.unstyle {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.list-inline li {
    display: inline-block;
}

.marg-auto {
    margin-left: auto;
    margin-right: auto;
}

.only-mobile {
    display: none;
    @media @mobile {
        display: block;
    }
}

.hide-on-mobile {
    @media @mobile {
        display: none;
    }
}
.top-panel { 
    margin: 10px 20px;
    .info-menu {
        float: left;
        &__link {
            color: #666;
        }   
    }
    .logo {
        width: 25%;
        @media @mobile {
            width: 40%;
        }
    }
    .reg-menu {
        float: right;
        &__link {
            text-transform: uppercase;
        }   
    }
    .info-menu, .reg-menu {
        &__item {
            padding: 5px;
            margin: 10px 0;
            border-right: 1px solid @gray;
            &:last-child {
                border-right: none;
            }
        }
        &__link {
           padding: 5px; 
           font-size: 12px;
        }
    }
}

@media @mobile {
    .menu {
        width: 300px;
        position: absolute;
        height: 100vh;
        background: #fff;
        transform: translate(-300px, 0);
        transition: all 1s;
        &.open {
            transform: translate(0px, 0);
        }
    }
    .menu-toggle {
        position: absolute;
        font-size: 160%;
        cursor: pointer;
        z-index: 100;
        transform: rotate(90deg);
    }
}

.header-menu {
    background: #000;
    text-align: center;
    &__item {
        padding: 5px;
    }
    &__link {
        padding: 5px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media @mobile {
            color: #000;
        } 
    }
}

.home-banner {
    img {
        max-width: 100%;
    }
    .home-banner-item {
        &__image {
            &.hide-on-mobile {
                display: none !important;
            }
            &.only-mobile {
                display: block !important;
            }
        }
    }
}

.home-banner {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
}
.row-1 {
    flex: 0 0 50%;

}
.row-2 {
    flex: 0 0 30%;   
}
.row-1, .row-2 {
    -js-display: flex;
    display: flex;
    flex-flow: column nowrap;
    @media @mobile {
        flex: 0 0 100%;
    }   
}

.home-banner-item {
    margin: 0;
    padding: 0;
    flex: auto; 
    // align-self: stretch; 
    img {  
      width: 100%; 
      height: 100%; 
    }
    &_0 {
        // order: 7;
        flex: 1 100%;
        @media @mobile {
            &:before {
                background: @gray none repeat scroll 0 0;
                content: "";
                display: block;
                height: 2px;            
            }
        }
    }
    &_1 {
        @media @mobile {
            flex: 0 0 100%;
        }
    }
    &_2 {
        @media @mobile {
            flex: 0 0 100%;
        }
    }
    &_3 {
        flex: 0 0 50%;
        @media @mobile {
            flex: 0 0 100%;
        }
    }
    &_4 {
        flex: 0 0 70%;
        @media @mobile {
            flex: 0 0 100%;
        }
    }
    &_5 {

    }
    &_6 {

    }
    &_7 {

    }
}

.footer {
    &__streak {
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        .link-on-main-res {
            font-weight: bold;
        }
        &:after {
            background: @gray none repeat scroll 0 0;
            content: "";
            display: block;
            height: 1px;
        }
    }
    .conditions {
        -js-display: flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &__block {
            margin: 20px 0;
            padding-right: 30px;
            padding-left: 5px;
            border-right: 1px solid @gray;
            text-align: center;
            font-size: 13px;
            &:last-child {
                border-right: none;
            }
            .svg-icon {
                width: 40px;
                height: 40px;
            }
            h4 {
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 0;
            }
            p {
                color: #666;
                margin-top: 5px;
            }
            @media @mobile {
                flex: 0 0 50%;
                border-right: 1px solid @gray;
                border-bottom: 1px solid @gray;
                margin: 0;
                padding: 40px 5px;
            }
        }

    }
}
